name: Test against Rails main

on:
  push:
  schedule:
    - cron: "0 0 * * *" # Run every day at 00:00 UTC
  workflow_dispatch:

jobs:
  specs:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        options: >-
          --health-cmd "mysql -uroot -e 'show databases'"
          --health-interval 2s
          --health-timeout 1s
          --health-retries 10
    env:
      BUNDLE_GEMFILE: gemfiles/rails_main.gemfile
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec
